@import "../../_partials.scss";

.tutorial-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.tutorial-name {
	color: $font-colored;
	font-size: 20px;
	margin-bottom: 5px;
	font-weight: 400;
}

.tutor {
	font-weight: 600;
}

.tutors {
	margin-bottom: 5px;
}
