
.assessment-feedback-list-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
}

.assessment-feedback-list-wrapper {
	margin-left: 15px;
}
