@import "../../_partials.scss";

.assessment-list-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 13px;
	padding-left: 30px;
	padding-right: 30px;
}

.assessment-list-title {
	color: $branding-highlight;
	font-size: 0.8em;
	letter-spacing: normal;
}

.assessment-list-subtitle {
	color: $font-light;
	font-size: 0.8em;
	letter-spacing: normal;
}
