.login-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: green;
}

.login-modal {
	width: 30vw;
	display: flex;
	flex-direction: column;
	background-color: white;
}
