
// ANU Corporate Branding
$branding-main:      #333333;
$branding-highlight: #A0162E;

// Fonts 
$font-family: "SF Pro Display", "Helvetica", "Roboto", sans-serif;
$font-size-default: 16px;

$font-normal:  #2F3334;
$font-colored: #4C6E78;
$font-light:   #95A0A4;

// Misc
$border-light: #DFE4EA;
$border-dark:  #4C6E78;

$success: #57C666;

@mixin two-column-parent {
	display: flex;
	flex-direction: row;
}
