
.current {
	display: flex;
	user-select: none;
	align-items: center;
	justify-content: flex-start;
}

.current:hover {
	cursor: pointer;
}

header.expanded > span > .chevron {
	transform: rotate(180deg);
}

header > * {
	color: white;
}

header {
	position: absolute;
	height: 130px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	/* Styling */
	border-bottom: 10px solid transparent;
	border-image: url("../../assets/header-border.png") 30% round;
	background-color: #333333;
	padding: 25px 50px 25px 50px;
	transition: height 150ms ease-out;
}

header > ul {
	padding-top: 8px;
}

header > ul > li {
	user-select: none;
	padding-bottom: 8px;
	padding-top: 8px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 75ms ease-out;
}

header.expanded > ul > li {
	pointer-events: auto;
	opacity: 0.5;
}

header.expanded > ul li:hover {
	opacity: 1;
}

/* Transition delays when the dropdown is expanding */
header.expanded > ul li:nth-child(1) {
	transition-delay: 0ms;
}

header.expanded > ul li:nth-child(2) {
	transition-delay: 50ms;
}

header.expanded > ul li:nth-child(3) {
	transition-delay: 100ms;
}

/* Transition delays when the dropdown is contracting */
header > ul li:nth-child(3) {
	transition-delay: 0ms;
}

header > ul li:nth-child(2) {
	transition-delay: 50ms;
}

header > ul li:nth-child(1) {
	transition-delay: 100ms;
}

.chevron {
	object-fit: cover;
	display: inline-block;
	transition: transform 150ms ease-out;
	transform-origin: 50% 50%;
	width: 12px;
	height: 12px;
	margin-left: 5px;
}
