@import "../../_partials.scss";


.column-left {
	& > .assessment-title {
		color: $font-colored;
		font-weight: 300;
		font-size: 34px;
		margin-bottom: 10px;
	}
}

.assessment-form {
	display: flex;
	flex-direction: column;
	margin-top: 15px;

	& > textarea {
		height: 100px;	
	}
}

.assessment-description {
	font-size: 16px;
	line-height: 1.35;
}
