@import "../../_partials.scss";

.admin-buttons {
	display: flex;
	flex-wrap: wrap;
}

.admin-header {
	display: flex;
	flex-direction: horizontal;
	justify-content: space-between;
}

.admin {
	display: flex;
	width: 230px;
	height: 80px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 10px 0px 0px 10px;
	border: 1px solid $border-light;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 0px 12px rgba(0,0,0,0.05);
	transition: border 200ms ease-out;

	& > .title {
		color: $font-normal;
		padding-bottom: 3px;
		font-size: 0.9em;
		color: #555C5E;
		text-align: center;
	}

	& > .subtitle {
		font-size: 12px;
		color: $font-light;
		text-align: center;
	}

	&:hover {
		border: 1px solid $border-dark;
	}
}
